SUBSYSTEMS=="usb", KERNEL=="ttyACM[0-9]*", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0042", ATTRS{serial}=="754393239353512112D1", SYMLINK+="ttyArduinoSensors", MODE="0666"
