# TUW serial number: A9IPDFB3
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="A1009ZYR", SYMLINK+="ttyArm", MODE="0660", GROUP="dialout"
